html, body, div,h1, h2, h3, h4, h5, h6, p, blockquote, img,ol, ul, li
 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
}
.panel{
    background-color: aqua;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pricing-plan{
    border-bottom: 1px solid black;
}
.pricing-plan:last-child{
    border-bottom: none
}
.pricing-img{
    margin-bottom: 30px;
    max-width: 100%;
}
.pricing-header{
    color:darkblue ;
    font-weight: 600;
    letter-spacing: 1px;
}
.pricing-features{
    margin: 50px 0 25px;
}
.pricing-features-item{
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid blueviolet ;

}
.pricing-price{
    color:darkblue ;
    display: block;
    font-size: 30px;
    font-weight: 650;
}
.pricing-features-item:last-child{
    border-bottom:1px solid blueviolet;
}
.pricing-button{
    border: 1px solid black;
    font-weight: 700;
    border-radius: 10px;
    color: black;
    display:inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
}
.pricing-button:hover, .pricing-button:focus{
    background-color: darkblue;
}
@media(min-width:850px){
    .panel{
        flex-direction: row;
    }
    .pricing-plan{
        border-bottom: none;
        border-right: 1px solid blueviolet;
        padding: 25px 50px;
    }
    .pricing-plan:last-child{
        border-right: none;
    }
}
.pricing-img1{
    height: 195px;
    margin-bottom: 30px;
    max-width: 100%;
}
